{% extends 'myapp/base.html' %}
{% block content %}
{% load socialaccount %}
<div class="container py-3">
    <h2 class="my-3 text-center text-light">Welcome to DVM Bus Booking System</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
            <div class="card rounded-0">
                <div class="card-header">
                    <div class="card-title h3 fw-bold mb-0 text-center">Login</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="{% url 'signin' %}" method="post" id="signin-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="control-label">Username:</label>
                                <input name='name' class="form-control rounded-0" type="text" id="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="example-email-input" class="control-label">Password:</label>
                                <input name='password' class="form-control rounded-0" type="password" required>
                            </div>
                        </form>
                        <p class="text-danger">{{error}}</p>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-lg-custom mb-3" form="signin-form">Login</button>
                </div>
                <div class="card-footer text-center">
                    <a href="{% provider_login_url 'google' %}" class="btn btn-lg-custom btn-google w-100 text-center">
                        Login with Google
                    </a>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock %}
